<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body> 
    
    <div id="menuApp">
        <h1>Love Calculator Project (APi)</h1>
        <div class="flex">
            <input type="text" v-model="fname">
            <input type="text" v-model="sname">
        </div>
        <h1 class="alert">Please, insert the names.</h1>
        <input @click="clique" type="submit" v-model="btn1">
        <h2>{{ fname }} and {{ sname }}:</h2>
        <h3>{{ porcent }}%</h3>
        <h4>{{ txt1 }}</h4>
        
    </div>         
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>